html {
    font-size: 20px;
}

html h1 {
    font-size: 2rem;
}

h1>.principal {
    font-size: 1.4em;
}

html.secundario {
    font-size: 1.4rem;
}

#cores div {
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 0.5em;
    background-color: rgb(219, 78, 68);
}

#cores>.escura {
    background-color: rgb(186, 66, 59)
}

#cores>.clara {
    background-color: rgb(252, 90, 78)
}